h1 {
    text-align: center;
    margin: 40px;
}

#grid{ 
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0px;
}

#grid div {
    flex-direction: column;
    width: 70px;
    height: 81px;
    border: 1px solid black;
    flex-grow: 1;
    padding:0%
    
}