body{
    text-align: center;
    margin-top: 300px;
    background: plum;
    height: 100vw;
}


h1 {
    font-size: 80px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
   
}
