body{
    background-color: tan;
}

h1 {
    text-align: center;
    margin: 40px;
    font-size: 50px;
}

#player{
    text-align: center;
    font-size: 30px;
}

#grid{ 
    width: 500px;
    height: 500px;
    background-color: silver;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 0px;
    
}

#grid div {
    flex-direction: column;
    width: 1fr;
    height: 1fr;
    border: 1px solid black;
    border-radius: 100%;
    
}

.player1{
    background-color: red;
}

.player2{
    background-color: black;
}